/* Variables */

:root{
    /* Colors */
    --primary-color:#F2DFCE;
    --second-color:#724C4F;
    --third-color:#40373F;
    --fourth-color:#D9A78B;
    --fifth-color:#A67563;

    /* Fonts */
    --main-font:"Mulish", serif;
    --second-font:"Merienda", serif;

    /* Animation */
    --main-animation: all .2s ease-in-out;
    --slow-animation: all .4s ease-in-out;

    /* Box Shadow */
    --main-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
}

/* Reset CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: inherit;    
}

/* Init main CSS */

body {
    position: relative;
    background-color: #f2dfcec6;
    color: var(--third-color);
    font-family: var(--main-font);
    scroll-behavior: smooth;
}

a{
    display: block;
}

/* Scrollbar */

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--primary-color),var(--fourth-color) ;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: var(--primary-color);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--fourth-color);
    border-radius: 10px;
    border: 3px solid var(--primary-color);
  }