.mainArticlesContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 120px;

}


.sectionTitleContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    font-family: var(--second-font);
}

.sectionTitleContainer .stroke{
    flex: 1;
    height: 2px;
    background-color: var(--third-color);
    margin: 0 20px;
    border-radius: 10px;
}

@media (max-width: 870px){
    .mainArticlesContainer{
        align-items: center;
        margin: 30px 60px;
    }
    .sectionTitleContainer .stroke{
        display: none;
    }
}