#heroContainer{
    background-image: url("/assets/img/header.jpg");
    width: 100%;
    height: 100vh;
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#heroContainer #burgerMenuContainer{
    cursor: pointer;
    position: relative;
    margin-top: 30px;
    display: none;
}

#heroContainer #burgerMenuContainer #burgerMenu {
    position: relative;
    margin-top: 20px;
    height: 6px;
    width: 40px;
    background-color: var(--third-color);
    border-radius: 50px;
    top: -50%;
    transform: translateY(50%);
}

#heroContainer #burgerMenuContainer #burgerMenu::before,
#heroContainer #burgerMenuContainer #burgerMenu::after {
    content: "";
    position: absolute;
    height: 6px;
    width: 40px;
    background-color: var(--third-color);
    border-radius: 50px;
}

#heroContainer #burgerMenuContainer #burgerMenu::before {
    top: -10px;
}

#heroContainer #burgerMenuContainer #burgerMenu::after {
    top: 10px;
}


#heroContainer #navSocialContainer{
    display: flex;
    align-items: center;
    gap: 100px;
    padding-top: 30px;
}

#heroContainer #navSocialContainer #navbar{
    display: flex;
    gap: 60px;
}

#heroContainer #navSocialContainer #navbar a{
    position: relative;
    font-size: 24px;
    font-family: var(--second-font);
    transition: var(--main-animation);
}

#heroContainer #navSocialContainer #navbar a::before, 
#heroContainer #navSocialContainer #navbar a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: var(--primary-color);
    transition: var(--main-animation);
    
}

#heroContainer #navSocialContainer #navbar a::before{
    right: 0;
    top: -5px; 
}

#heroContainer #navSocialContainer #navbar a::after{
    left: 0;
    bottom: -5px; 
}

#navSocialContainer #socialContainer{
    display: flex;
    gap: 20px;
}

#heroContainer #navSocialContainer #socialContainer a{
    position: relative;
    fill: var(--third-color);
    transition: var(--main-animation);
}

#heroContainer #titleDescContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 330px;
}

#heroContainer #titleDescContainer #heroTitle,
#heroContainer #titleDescContainer #heroTitle span{
    font-family: var(--second-font);
    font-size: 48px;
    font-weight: 600;
}

#heroContainer #titleDescContainer #heroTitle span{
    font-weight: 900;
}

#heroContainer #heroCta{
    width:fit-content;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--fifth-color);
    color: var(--primary-color);
    cursor: pointer;
    transition: var(--main-animation);
}

/* Hover effects */

#heroContainer #navSocialContainer #navbar a:hover{
    color: var(--primary-color);
}

#heroContainer #navSocialContainer #navbar a:hover::before,
#heroContainer #navSocialContainer #navbar a:hover::after{
    width: 100%;
}

#heroContainer #navSocialContainer #socialContainer a:hover{
    transform: scale(1.2);
}

#heroContainer #heroCta:hover{
    filter: brightness(0.9);
}
/* Mobil Template */

@media (max-width: 870px){
    #heroContainer{
        position: relative;
    }

    #heroContainer #burgerMenuContainer{
        display: block;
        z-index: 1;
    }

    #heroContainer #burgerMenuContainer #burgerMenu.active{
        transform: rotate(135deg);
        transition: transform .4s ease-in-out;
    }

    #heroContainer #burgerMenuContainer #burgerMenu.active::after{
        top: 0;
        transform: rotate(-90deg); 
    }

    #heroContainer #burgerMenuContainer #burgerMenu.active::before{
        display: none;
    }

    #heroContainer #burgerMenuContainer #burgerMenu.active,#heroContainer #burgerMenuContainer #burgerMenu.active::after,#heroContainer #burgerMenuContainer #burgerMenu.active::before{
        background-color: var(--primary-color);
    }

    #heroContainer #navSocialContainer{
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.896);
        height: 100vh;
        transform: translateX(-100%);
        
    }

    #heroContainer #navSocialContainer.active{
        transform: translateX(0);
        transition: var(--slow-animation);
    }

    #heroContainer #navSocialContainer #navbar.active{
        flex-direction: column;
        text-align: center;
    }

    #heroContainer #navSocialContainer #navbar a.active{
        color: var(--primary-color);
    }

    #heroContainer #navSocialContainer #socialContainer a.active{
        fill: var(--primary-color);
        stroke: var(--primary-color);
    }
}