<link rel="stylesheet" href="/assets/css/loginDisplay.css">
<div class="mainContainer">
    <div class="imgContainer"></div>
    <div class="formTilteContainer">
        <h2 class="title">Cozynest</br><span>Dashbord</span></h2>
        
        <form action="admin.php" method="POST" class="formContainer">

            <input class="inputText" type="text" name="userLogin" id="userLogin" placeholder="Nom d'utilisateur" required>

            <input class="inputText" type="password" name="passwordLogin" id="passwordLogin" placeholder="Mot de passe" required>
                            
            <input class="inputBtn" type="submit" value="Connection">
        </form>
        
            
    </div>
</div>
